[Unit]
Description=PALMS (Precise Acquisition LIBS Movement Software)
After=multi-user.target

[Service]
Type=simple
ExecStart=python3 -u -m server
Environment="LOG_LEVEL=INFO"
Restart=always

[Install]
WantedBy=multi-user.target
