[Unit]
Description=PALMS (Precision Accurate LIBS Movement System)
After=multi-user.target

[Service]
Type=simple
ExecStart=python3 -u -m server
Restart=always

[Install]
WantedBy=multi-user.target
