[bumpversion]
current_version = 0.4.0
commit = True
tag = True
sign_tags = True

[bumpversion:file:src/server/setup.py]

[bumpversion:file:src/server/server/__init__.py]

[bumpversion:file:src/client/gui.py]
